<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Programación Visual - APU</title>
    <style>
   
      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }
      
      
     
    </style>
  </head>
  <body>
    <nav>
      <a href="#seccion1">Profesores</a>
      <a href="#seccion2">Contenidos</a>
      <a href="#seccion3">Software</a>
    </nav>

    <div  id="hero">
      <img alt="../static/images/programadores-java.jpg" src="../static/images/programadores-java.jpg">
    </div>

    <section>
      <header >
        <h1 >Programación Visual - APU</h1>
      </header>
    </section>

    <section id="seccion1">
      <div >
        <h2>seccion profesores</h2>
        <p>Contenido de la primera sección...</p>
        <p>Ariel Vega: Viernes de 8:30 hs a 9:30 hs - https://meet.google.com/ujm-tauq-tfg
		<p>Carolina Apaza: Jueves de 17:00 a 18:00 hs. - https://meet.google.com/wwk-whaf-yxi</p>
		<p>Juan Carlos Rodriguez: Miércoles  de 18:00 a 19:00 hs. - https://meet.google.com/oxt-kfay-uko</p>
		<p>Gustavo Sosa: Jueves de 20:00 a 21:00 - https://meet.google.com/doe-pptp-zyg</p>
      </div>
    </section>

    <section id="seccion2" >
      <div >
        <h2>Seccion contenidos</h2>
        <p>Contenido de la segunda sección...</p>
      </div>
    </section>

    <section id="seccion3">
      <div >
        <h2>seccion software</h2>
        <p>Contenido de la tercera sección...</p>
      </div>
    </section>
  </body>
</html>