<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Programación Visual - APU</title>
    <style>
   
      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }    
    </style>
  </head>
  <body>
    <nav>
      <a href="#seccion1">Profesores</a>
      <a href="#seccion2">Contenidos</a>
      <a href="#seccion3">Software</a>
    </nav>

    <div  id="hero">
      <img alt="../static/images/programadores-java.jpg" src="../static/images/programadores-java.jpg">
    </div>

    <section>
      <header >
        <h1 align="center">Programación Visual - APU</h1>
      </header>
    </section>
	<main>
		<section id="seccion1">
	      <div >
	        <h2>Seccion profesores</h2>
	        <p>Horarios</p>
	        <p>Ariel Vega: Viernes de 8:30 hs a 9:30 hs </p>
			<p>Carolina Apaza: Jueves de 17:00 a 18:00 hs. </p>
			<p>Juan Carlos Rodriguez: Miércoles  de 18:00 a 19:00 hs. </p>
			<p>Gustavo Sosa: Jueves de 20:00 a 21:00 </p>
	      </div>
	    </section>
	</main>
    
    <hr>
    <aside>
    
    	<p>Descargar el entorno de trabajo</p> 
    	<a href="https://spring.io/tools">
    		<img src="../static/images/spring.jpeg" alt="Logo de spring tools">
    	</a>   	
    	
    <hr>
    
    </aside>

    <section id="seccion2" >
      <div >
        <h2>Seccion contenidos</h2>
        <p>Algunos contenidos de la materia</p>
        <table>
        <tr>
        	<th>Semana</th>
            <th>Contenido</th>
            <th>Temas</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Instalacion STS</td>
            <td>Instalacion del entorno de trabajo</td>
        </tr>
        <tr>
			<td>2</td>            
            <td>Profundizar en los conceptos de atributos, constructores y métodos accesores</td>
            <td>Estructuras de control - tipos de datos String y fecha - Sobrecarga</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Arreglos</td>            
            <td>Arreglos - interfaces - colecciones </td>
        </tr>
    </table>
      </div>
    </section>

    <section id="seccion3">
      <div >
        <h2>Programas útiles</h2>
        <p>descarga</p>
      </div>
    </section>
    
    <footer>
    	<h3 align="center">Programacion visual 2024</h3>
    </footer>
  </body>
</html>